<!DOCTYPE html>
<html>
  <head>
    <title>Welcome!</title>
    <link 
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
      <!--Sidebar-->
      <%- include('../parts/sidebar.ejs') %>
        <div class="col-md-10">
          <div class="container mt-5">
            <h2 class="text-center">BEATSEAT</h2>
            <p class="text-center">Start booking your concert tickets now!</p>
          </div>
        </div>
      </div>
    </div>
    <!--JS-->
    <%- include('../parts/js.ejs') %>
  </body>
</html>
